

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
    var socket = io.connect(); //load socket.io-client and connect to the host
    function RedOn() {
        socket.emit("stateRed", 1); //send button state to server
    }

    function RedOff() {
        socket.emit("stateRed", 0); //send button state to server
    }

function YellowOn() {
        socket.emit("stateYellow", 1); //send button state to server
    }

    function YellowOff() {
        socket.emit("stateYellow", 0); //send button state to server
    }

function GreenOn() {
        socket.emit("stateGreen", 1); //send button state to server
    }

    function GreenOff() {
        socket.emit("stateGreen", 0); //send button state to server
    }
</script>
<div class="main-div">
<div style="text-align: center;">
   

                 <button type="button" id="stateRed" onclick="RedOn()">Red On (PIN 21)</button>
		<div class="divider"> </div>
		<button type="button" id="stateRed" onclick="RedOff()">Red Off (PIN 21)</button>
          	<br> <br>

		<button type="button" id="stateYellow" onclick="YellowOn()">Yellow On (PIN 20)</button>
		<div class="divider"> </div>
		<button type="button" id="stateYellow" onclick="YellowOff()">Yellow Off (PIN 20)</button>
		<br> <br>

		<button type="button" id="stateGreen" onclick="GreenOn()">Green On (PIN 16)</button>
		<div class="divider"> </div>
		<button type="button" id="stateGreen" onclick="GreenOff()">Green Off (PIN 16)</button>


    </div>
    </div>
